.card{
    margin-bottom: 5px;
}
.container{
    padding-bottom: 100px;
}
body{
    background-color: #464a4c;
}
.jumbotron{
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar{
    border-radius: 5px;
}
#foot{
    color: white;
    float: bottom;
    clear: both;
    font-weight: lighter;
    text-align: center;
}